name: Deploy Oaisbr-API Test

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
      - run: |
          sh scripts/deploy.sh
